@model IEnumerable<PHDS.Web.Models.PermissionViewModel>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <div class="col-md-10">
            <input type="submit" value="保存" class="btn btn-default" />
        </div>

        <div id="views">
            <table class="table table-hover table-striped">
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Action</th>
                    <th>Controller</th>
                    <th>Description</th>
                </tr>
                @Html.EditorForModel()
            </table>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回权限列表", "Index")
</div>