@model IEnumerable<PHDS.Web.Models.SalesModels.OrdersModel>
@{
    var orders = Newtonsoft.Json.JsonConvert.SerializeObject(Model, new Newtonsoft.Json.Converters.IsoDateTimeConverter { DateTimeFormat = "yyyy/MM/dd" });
}
@{
    ViewBag.Title = "发货";
}
<br />

<!-- Table -->
<table id="datatables" class="table table-striped table-bordered @*table-hover*@" cellspacing="0" style="width:100%;"></table>

@section styles{
    @Styles.Render("~/Content/DataTables/css/datatables")
    <style>
        body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
            font-family: Microsoft YaHei,'宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
        }

        body {
            overflow-y: scroll;
        }

        .table.table-subtable {
            font-size: 12px;
        }
    </style>
}
@section scripts{
    @Scripts.Render("~/Scripts/DataTables/datatables")

    <script>
        $(document).ready(function() {
            var json = @(new MvcHtmlString(orders));
            for(var item in json)
            {
                json[item].SalesAmount = json[item].SalesAmount.toFixed(2);
            }

            thisTable = $('#datatables').DataTable({
                data: json,
                autoWidth: true,
                lengthChange: false,
                searching:true,
                ordering: false,
                paging: true,
                //sScrollY:600,
                //bScrollCollapse:true,
                language: {//国际语言转化
                    oAria: {
                        sSortAscending: " - click/return to sort ascending",
                        sSortDescending: " - click/return to sort descending"
                    },
                    sLengthMenu: "显示 _MENU_ 记录",
                    sZeroRecords: "对不起，查询不到任何相关数据",
                    sEmptyTable: "未有相关数据",
                    sLoadingRecords: "正在加载数据-请等待...",
                    sInfo: "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录。",
                    sInfoEmpty: "当前显示0到0条，共0条记录",
                    sInfoFiltered: "（数据库中共为 _MAX_ 条记录）",
                    sProcessing: "<img src='../resources/user_share/row_details/select2-spinner.gif'/> 正在加载数据...",
                    sSearch: "模糊查询：",
                    sUrl: "",
                    //多语言配置文件，可将oLanguage的设置放在一个txt文件中，例：Javascript/datatable/dtCH.txt
                    oPaginate: {
                        sFirst: "首页",
                        sPrevious: " 上一页 ",
                        sNext: " 下一页 ",
                        sLast: " 尾页 "
                    },
                },
                columns:
                    [
                        {
                            className: 'details-control text-center text-primary',
                            data: null,
                            width: '1em',
                            defaultContent: '<i class="glyphicon glyphicon-plus btn-primary btn-xs"></i>'
                        },
                        { data: "CustomerId", title: "客户编号", width:"8em", visible:false },
                        { data: "OrderId", title: "送货单号", width:"8em", },
                        { data: "SalesDate" , title: "送货日期", },
                        { data: "CustomerName" , title: "客户", width:"10em", },
                        { data: "CustomerAddress" , title: "地址", },
                        { data: "SalesComment" , title: "备注" ,visible:false},
                        { data: "SalesTypeId" , title: "业务类型", width:"80px", visible:false},
                        { data: "SalesTypeDescription" , title: "业务描述", width:"6em", visible:true },
                        { data: "SalesAmount", title: "合计金额", width:"8em", className:"text-right", render:function(data, type, row, meta){return "<div style='font-weight:bold'>"+data+"</div>"}},
                    ]
            });
            $('.table').on('click', 'tbody td.details-control .glyphicon',
               function() {
                   var btn = $(this);
                   var tr = $(this).closest('tr');
                   var row = thisTable.row( tr );
                   if ( row.child.isShown() ) {
                       // This row is already open - close it
                       row.child.hide();
                       tr.removeClass('shown');
                       btn.removeClass('glyphicon-minus').addClass('glyphicon-plus');
                   }
                   else {
                       // Open this row
                       row.child( orderdetial(row.data()) ).show();
                       tr.addClass('shown');
                       btn.removeClass('glyphicon-plus').addClass('glyphicon-minus');
                   }

               });

            function orderdetial(d)
            {
                var data;
                $.ajaxSettings.async = false;
                $.getJSON("@Url.Action("FahuoDetail")",{RCID:d.RCID},function(result){
                    data = result
                })
                $.ajaxSettings.async = true;

                //var table = $("<table></table>");
                //var thead = $("<thead></thead>");
                //var tbody = $("<tbody></tbody>");

                //for(var row in data)
                //{
                //    thead.append("<tr></tr>");
                //    for (var colname in data[row])
                //    {
                //        $("tr",thead).append('<th>'+colname+'</th>');
                //    }
                //    break;
                //}
                //for(var row in data)
                //{
                //    tbody.append("<tr></tr>");
                //    for (var colname in data[row])
                //    {
                //        $("tr",tbody).last().append('<td>'+data[row][colname]+'</td>');
                //    }
                //}
                //table.append(thead);
                //table.append(tbody);
                //table.addClass('table')
                var container = $("<div><table id='details' class='table table-bordered table-subtable'></table></div>");
                var table = $("table",container);
                var datatable = table.dataTable({
                    data: data,
                    autoWidth: false,
                    lengthChange: true,
                    searching:true,
                    ordering: false,
                    columns:
                    [
                        { data: "RN", title: "RN", width:"1em", className:"text-center" },
                        { data: "Id" , title: "编号", width:"6em", },
                        { data: "Description" , title: "描述", width:"auto", },
                        { data: "Size" , title: "规格", width:"10em", },
                        { data: "PCS", title: "片数", width:"5em", className:"text-right" },
                        { data: "Price" , title: "单价" , width:"5em", className:"text-right",},
                        { data: "ChargeUnit", title: "计价单位", width:"5em", className:"text-center" },
                        { data: "UnitQuantity" , title: "单位数量", width:"5em", className:"text-right", },
                        { data: "Amount" , title: "金额", width:"5em", className:"text-right text-info", render:function(data, type, row, meta){return "<div style='font-weight:'>"+data+"</div>"}},
                    ]
                });
                
                return table.prop("outerHTML");

            }

            //$('body').show();
        });

    </script>
}
