@model IEnumerable<PHDS.Web.Models.SalesModels.OrdersModel>
@{
    var orders = Newtonsoft.Json.JsonConvert.SerializeObject(Model, new Newtonsoft.Json.Converters.IsoDateTimeConverter { DateTimeFormat = "yyyy/MM/dd" });
}

@{
    ViewBag.Title = "收货 - 进销存系统";
}

@section styles{
    @Styles.Render("~/Content/DataTables/css/datatables")
    <style>
        body {
            overflow-y: scroll;
        }

        .table#orders {
            font-size: 12px;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        .table#details {
            font-size: 12px;
        }

        tr.active > td {
            background-color: #0075b0 !important;
            color: #fff;
        }
    </style>
}

<div style="margin: 10px auto;"></div>
        <div class="row">
            <div class="col-xs-3 pull-right">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" class="form-control" aria-label="..." id="filter">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">筛选 <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">销售送货</a></li>
                            <li><a href="#">委外送货</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <table class="table table-bordered table-hover table-striped" id="orders"></table>
        <div style="margin: 10px auto;"></div>
        <div class="panel panel-primary">
            <div class="panel-heading">入库 - 明细</div>
            <table class="table table-bordered table-striped table-hover" id="details"></table>
        </div>




@section scripts{
    @Scripts.Render("~/Scripts/DataTables/datatables")

    <script>
        var json = @(new MvcHtmlString(orders));

        for(var item in json)
        {
            json[item].SalesAmount = json[item].SalesAmount.toFixed(2);
            json[item].SalesSquare = json[item].SalesSquare.toFixed(2);
        }

        $.extend(true, $.fn.DataTable.defaults ,CONSTANT.DATA_TABLES.DEFAULT_OPTION);

        thisTable = $('#orders').DataTable({
            searching:true,
            dom:'rtip',
            data: json,
            columns:
                [
                    { data: "DetailsCount" , title: "项数", width:"2em", className:"text-center", render:function (data, type, row, meta){return "<span class='badge'>"+ row.DetailsCount +"</span>"}},
                    { data: "CustomerId", title: "客户编号", width: "7em", visible: false },
                    { data: "OrderId", title: "单据", width: "15em", render:function (data, type, row, meta){return data + " - "+ row.SalesDate}},
                    { data: "SalesDate", title: "送货日期", width: "7em", visible:false, },
                    { data: "CustomerName", title: "客户", width: "10em", },
                    //{ data: "CustomerAddress" , title: "地址", },
                    { data: "SalesComment", title: "备注", width: "auto", visible: true, },
                    { data: "SalesTypeId", title: "业务类型", width: "6em", visible: false },
                    { data: "SalesTypeDescription", title: "业务类型", width: "10em", visible: true, render:function (data, type, row, meta){return data + " - " + row.SalesTypeId} },
                    { data: "SalesSquare", title: "面积", width:"6em", className: "text-right", @*render: function (data, type, row, meta) { return "<span class='badge'>" + data + "</span>" }*@ },
                    { data: "SalesAmount", title: "合计金额", width: "6em", className: "text-right", @*render: function (data, type, row, meta) { return "<div style='font-weight:bold' class='badge'>" + data + "</div>" }*@ },
                ]
        });

        detailTable = $('#details');
        detailTable.html($("<table></table>").dataTable().html());
        $('#orders.table').on('click', 'tbody td',   function() {
            var btn = $(this);
            var tr = $(this).closest('tr');
            tr.addClass('active').siblings().removeClass('active');
            var row = thisTable.row( tr );

            detailTable.html(buildOrderDetailTable(row.data()));

        });

        function buildOrderDetailTable(d) {
            var data;
            $.ajaxSettings.async = false;
            $.getJSON("@Url.Action("ShouhuoDetail")",{RCID:d.RCID},function(result){
                data = result
            })
            $.ajaxSettings.async = true;

            var container = $("<div><table id='details' class='table table-bordered table-subtable'></table></div>");
            var table = $("table",container);
            var datatable = table.dataTable({
                data: data,
                pageLength:50,
                columns:
                [
                    { data: "RN", title: "RN", width:"1em", className:"text-center" },
                    { data: "Id" , title: "编号", width:"8em", },
                    { data: "Description" , title: "描述", width:"auto", },
                    { data: "Size" , title: "规格", width:"10em", },
                    { data: "PCS", title: "片数", width:"8em", className:"text-right" },
                    { data: "Price" , title: "单价" , width:"8em", className:"text-right",},
                    { data: "ChargeUnit", title: "计价单位", width:"8em", className:"text-center" },
                    { data: "UnitQuantity" , title: "单位数量", width:"8em", className:"text-right", },
                    { data: "Amount" , title: "金额", width:"8em", className:"text-right text-primary", render:function(data, type, row, meta){return "<div style='font-weight:'>"+data+"</div>"}},
                ]
            });

            return table.html();
        }

        function filterGlobal () {
            thisTable.search(
                $('#filter').val(),
                false,true
            ).draw();
        }
 
        function filterColumn ( i ) {
            $('#example').DataTable().column( i ).search(
                $('#col'+i+'_filter').val(),
                $('#col'+i+'_regex').prop('checked'),
                $('#col'+i+'_smart').prop('checked')
            ).draw();
        }

        $(document).ready(function() {
 
            $('input#filter').on( 'keyup click', function () {
                filterGlobal();
            } );
        } );

        var tmp = $("#orders");
        tmp.wrap("<div class='panel panel-primary'></div>")
            .parent().prepend("<div class='panel-heading'>入库 - 主表</div>").css("margin-bottom", "10px") // panel
            .nextAll("div").wrapAll("<div class='row'></div>").each(function(index,Element){
                $(Element).wrap('<div class="col-xs-6"></div>')
            });
        tmp.parent().parent().prepend('<div style="margin: 10px auto;"></div>');
            

    </script>
}
