@model List<PHDS.Entities.Edmx.物料登记>
@{
    var json = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Take(20)));
}

@section styles{
    <!-- 引入样式 -->
    <link rel="stylesheet" href="~/Content/elementui/index.css">

    <style>
        body {
            overflow-y: scroll;
        }
    </style>
    <style>
        .el-row {
            margin-bottom: 20px;
        }

            .el-row:last-child {
                margin-bottom: 0;
            }

        .el-col {
            border-radius: 4px;
        }

        .bg-purple-dark {
            background: #99a9bf;
        }

        .bg-purple {
            background: #d3dce6;
        }

        .bg-purple-light {
            background: #e5e9f2;
        }

        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }

        .row-bg {
            padding: 10px 0;
            background-color: #f9fafc;
        }
        .el-table__fixed, .el-table__fixed-right
        {
            box-shadow: 1px 0 2px #d3d4d6;
        }
    </style>
}

@section scripts{
    <!-- 引入组件库 -->
    <script src="~/Content/elementui/index.js"></script>

    <script>
        $(document).ready(function() {

            var tableData = @json;
            var vm = new Vue({
                el: '#app',
                data: function () {
                    return { visible: false, tableData:tableData,show:false }
                },
                mounted:function(){
                    this.$nextTick(function () {
                        this.show = true;
                    })
                }
            })
        } );

    </script>
}

<div id="app">
    <el-dialog v-model="visible" title="Hello world">
        <p>欢迎使用 Element</p>
    </el-dialog>
    <el-row>
        <el-col :span="24">
            <el-table v-bind:data="tableData" stripe>
                <el-table-column prop="编号" label="编号" fixed="left" width="100"></el-table-column>
                <el-table-column prop="描述" label="描述" fixed="left" width="180"></el-table-column>
                @*<el-table-column prop="类型" label="类型"></el-table-column>*@
                <el-table-column prop="规格" label="规格" ></el-table-column>
                <el-table-column prop="工艺" label="工艺" ></el-table-column>
                <el-table-column prop="木种" label="木种" ></el-table-column>
                @*<el-table-column prop="ExcelServerRCID" label="ExcelServerRCID" width="180"></el-table-column>*@
            </el-table>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="24">
            <el-button v-on:click.native="visible = true">按钮</el-button>
        </el-col>
    </el-row>
</div>
