<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        @*拼花大师，超乎你想象！*@
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
</footer>
