
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@*<meta name="viewport" content="width=1000px">*@
<title>@ViewBag.Title - 应用管理系统</title>

@*@Styles.Render("~/Content/bootstrap")*@
<link rel="stylesheet" href="~/Content/bootstrap.min.css">

<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/font-awesome.min.css">
<!-- AdminLTE -->
<link rel="stylesheet" href="~/Content/AdminLTE/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="~/Content/AdminLTE/dist/css/skins/skin-blue.min.css">

<style>
    body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
        font-family: Microsoft YaHei,'宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    }

    body {
        overflow-y: scroll;
    }

    table th, table td {
        white-space: nowrap;
    }

    .control-label[class*="col-xs-"] {
        padding-top:7px;
        margin-bottom: 0;
        text-align: right;
    }

    [v-cloak] {
        display: none;
    }
</style>
