<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings />
  <connectionStrings>
    <add name="PinhuaEntities" connectionString="metadata=res://*/PinhuaModel.csdl|res://*/PinhuaModel.ssdl|res://*/PinhuaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=www.skyflag.com,6019;initial catalog=Pinhua;persist security info=True;user id=sa;password=benny0922;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EastRiverEntities" connectionString="metadata=res://*/EastRiverModel.csdl|res://*/EastRiverModel.ssdl|res://*/EastRiverModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=www.skyflag.com,6019;initial catalog=EastRiver;persist security info=True;user id=sa;password=benny0922;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--
            通过 <authentication> 节，可配置 
      ASP.NET 用于识别进入用户的 
      安全身份验证模式。
    -->
    <authentication mode="Windows" />
    <!--
            通过 <customErrors> 节，可以配置
       在执行请求的过程中出现未处理的错误时要执行 
       的操作。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
</configuration>