
<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 4.7
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    @{
        Html.RenderPartial("Metronic/_Layout_Metronic_HEAD");
    }

    @RenderSection("styles", false)
</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-container-bg-solid">
    <div class="page-wrapper">
        <!-- BEGIN HEADER -->
        @{
            Html.RenderPartial("Metronic/_Layout_Metronic_BODYHEADER");
        }
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->

        @RenderBody()

        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        @{
            Html.RenderPartial("Metronic/_Layout_Metronic_BODYFOOTER");
        }
        <!-- END FOOTER -->
    </div>
    <!-- BEGIN QUICK NAV -->
    @{
        //Html.RenderPartial("Metronic/_Layout_Metronic_QUICKNAV");
    }
    <!-- END QUICK NAV -->

    @{
        Html.RenderPartial("Metronic/_Layout_Metronic_SCRIPTS");
    }
</body>

</html>