@using PHDS.Web.Controllers
@{
    var pinhua = new PHDS.Entities.Edmx.PinhuaEntities();
    var wuliao = from p in pinhua.物料登记.AsNoTracking() orderby p.ExcelServerRCID descending select p;
    var jsonString = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(wuliao));
}

@section styles{
    @Styles.Render("~/Content/DataTables/css/datatables")
}

<div class="row" id="content">
    <div class="col-xs-12">
        <section class="my-sidebar">
            @Html.Partial("WuliaoNavi")
        </section>
        <section class="my-content">
            <div class="box box-primary">
                <div class="box-header with-border"><h3 class="box-title"> 物料清单</h3></div>
                <div class="box-body">
                    <div class="table-responsive no-border">
                        <table class="table table-bordered table-striped" id="myTable"></table>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm<BasicSettingController>(p => p.WuliaoDelete(""), FormMethod.Post, new { id = "del_form" }))
            {
                <input type="hidden" id="del_rcid" name="rcId" />
            }
        </section>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/DataTables/datatables")

    <script>
        $(document).ready(function () {
            $.extend(true, $.fn.DataTable.defaults ,CONSTANT.DATA_TABLES.DEFAULT_OPTION);

            var myTable = $('#myTable').DataTable({
                data:@jsonString,
                pageLength:20,
                pagingType: 'numbers',
                columns:[
                    { title:"功能", width:1, render:function (data, type, row, meta){return '<a href="@Url.Action("WuliaoEdit")?trackingNo='+row.编号+'">编辑</a> | <a href=\'javascript:delMethod("'+row.ExcelServerRCID+'")\'>删除</a></form>'}},
                    { data: "编号", title:"编号", className: "",},
                    { data: "描述", title:"描述", className: "",},
                    { data: "类型", title:"类型", className: "",},
                    { data: "规格", title:"规格", className: "",},
                    { data: "木种", title:"木种", className: "",},
                    { data: "工艺", title:"工艺", className: "",},
                    //{ data: "备注", title:"备注", className: "",},
                ]

            })
        })

        function delMethod(rcid){
            if(confirm('确定删除这条物料记录吗？')){
                $('#del_rcid').val(rcid);
                $('#del_form').submit();
            }
        }

        var vm = new Vue({
            el: '#content',
            data: {
                classFormHorizontal:{
                    formgroupLeft:{
                        'col-xs-3': true,
                        'col-sm-3': true,
                        'col-md-2': true,
                        'col-lg-2': true,
                    },
                    formgroupRight:{
                        'col-xs-9' :true,
                        'col-sm-9': true,
                        'col-md-8': true,
                        'col-lg-5': true,
                    },
                },
                boxCollapse :{
                    screenWidth: document.body.clientWidth,
                    collapseWidth: 768,
                    isLocked: false,
                },
            },
            mounted:function(){
                if(window.innerWidth < this.boxCollapse.collapseWidth){
                    $('.my-sidebar>.box').addClass("collapsed-box")
                    $(".my-sidebar .fa-minus").removeClass("fa-minus").addClass("fa-plus")
                    $(".my-sidebar .box-body").hide()
                }

                $(window).on("resize",this.resizeHandler)
            },
            methods: {
                resizeHandler: function(){
                    if(!this.boxCollapse.isLocked){
                        this.boxCollapse.isLocked = true
                        setTimeout(function(){
                            var oldWidth = this.boxCollapse.screenWidth
                            var newWidth = document.body.clientWidth
                            this.boxCollapse.screenWidth = newWidth
                            console.log("window.innerWidth",window.innerWidth,"document.body.clientWidth",document.body.clientWidth)

                            if(newWidth < this.boxCollapse.collapseWidth){
                                $('.my-sidebar>.box').addClass("collapsed-box")
                                $(".my-sidebar .fa-minus").removeClass("fa-minus").addClass("fa-plus")
                                //$(".my-sidebar .box-body").css("display","none")
                                $(".my-sidebar .box-body").hide()
                            }
                            else if(oldWidth<this.boxCollapse.collapseWidth && newWidth>=this.boxCollapse.collapseWidth) {
                                $('.my-sidebar>.collapsed-box').removeClass("collapsed-box")
                                $(".my-sidebar .fa-plus").removeClass("fa-plus").addClass("fa-minus")
                                //$(".my-sidebar .box-body").css("display","block")
                                $(".my-sidebar .box-body").show()
                            }
                            this.boxCollapse.isLocked = false
                        }.bind(this),250)
                    }
                },
            },
        })
    </script>
}
