@using PHDS.Web.Controllers

<a href="#">
    <i class="fa fa-gear"></i> <span>基础设置</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
    </span>
</a>
<ul class="treeview-menu">
    <li><a href="@(Url.Action<BasicSettingController>(p=>p.Wuliao()))"><i class="fa fa-money"></i><span> 物料管理</span></a></li>
    <li><a href="@(Url.Action<BasicSettingController>(p=>p.Kehu()))"><i class="fa fa-money"></i><span> 客户管理</span></a></li>
</ul>