@using PHDS.Web.Controllers
@{
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var actionName = ViewContext.RouteData.Values["action"].ToString();
}

<a href="#">
    <i class="fa fa-gear"></i> <span>生产管理</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
    </span>
</a>
<ul class="treeview-menu">
    <li><a href="@Url.Action("SCI", "Shengchan")"><i class="fa fa-money"></i><span> 生产入库</span></a></li>
</ul>