
.my-sidebar {
    position: absolute;
    width: 230px;
}

.my-content {
    margin-left: 244px;
}

@media(max-width: 991px) {
    /* RESPONSIVE MODE */
    /* 991px */
    .my-sidebar {
        width: 186px;
    }

    .my-content {
        margin-left: 200px;
    }
}

@media(max-width: 767px) {
    /* RESPONSIVE MODE */
    /* 767px */
    .my-sidebar {
        position: relative;
        width: 100%;
    }

    .my-content {
        margin-left: 0;
    }
}
