<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="PinhuaEntities" connectionString="metadata=res://*/Edmx.PinhuaModel.csdl|res://*/Edmx.PinhuaModel.ssdl|res://*/Edmx.PinhuaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.225.47.230,6019;initial catalog=Pinhua;persist security info=True;user id=sa;password=benny0922;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EastRiverEntities" connectionString="metadata=res://*/Edmx.EastRiverModel.csdl|res://*/Edmx.EastRiverModel.ssdl|res://*/Edmx.EastRiverModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.225.47.230,6019;initial catalog=EastRiver;persist security info=True;user id=sa;password=benny0922;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>