@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    <style>
        html {
            font-size: 18px;
        }

        @@media only screen and (min-width: 400px) {
            html {
                font-size: 19px !important;
            }
        }

        @@media only screen and (min-width: 414px) {
            html {
                font-size: 20px !important;
            }
        }

        @@media only screen and (min-width: 480px) {
            html {
                font-size: 23px !important;
            }
        }

        .popup {
            background: #eee;
        }

    </style>
}
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<!-- page -->
<div class="page page-current" id="main" style="background-color:#eee">
    <header class='bar-nav'>
        <div class="buttons-tab">
            <a href="#tab1" class="tab-link button active">微信单据</a>
            <a href="#tab2" class="tab-link button">销售开单</a>
        </div>
    </header>
    <div class="content">
        <div class="tabs">
            <div id="tab1" class="tab active">
                @Html.Partial("Partial_Tab1")
            </div>
            <div id="tab2" class="tab">
                @Html.Partial("Partial_Tab2", new PHDS.Web.Models.SalesModels.OrdersModel() { })
            </div>
        </div>
    </div>
</div>

@Html.Partial("Partial_Popups", new PHDS.Web.Models.SalesModels.OrderDetialModel() { })